Mobisis/WindowsPhone/1.3.0.0/Mobisis/Mobisis/Service References/ObisisServiceReference/ObisisMobileService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://apis.ogzkyr.net/ObisisMobileService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ObisisService.Models" />
  <xs:element name="GetStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studentID" type="xs:int" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ObisisService.Models" minOccurs="0" name="GetStudentResult" nillable="true" type="q1:Connection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ObisisService.Models" minOccurs="0" name="currentPeriod" nillable="true" type="q2:Period" />
        <xs:element minOccurs="0" name="studentID" type="xs:int" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ObisisService.Models" minOccurs="0" name="GetCurrentPeriodResult" nillable="true" type="q3:Connection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ObisisService.Models" minOccurs="0" name="GetActivitiesResult" nillable="true" type="q4:Connection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFoodLists">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFoodListsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ObisisService.Models" minOccurs="0" name="GetFoodListsResult" nillable="true" type="q5:Connection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>