ObisisService/1.2.0.0/ObisisService/ObisisService/Service References/ObisisWebService/ObisisMobileService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://obisis.erciyes.edu.tr" elementFormDefault="qualified" targetNamespace="http://obisis.erciyes.edu.tr" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://obisis.erciyes.edu.tr/mws/ObisisMobileService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ObisisMobileWCF" />
  <xs:element name="OgrenciBilgiGetir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ogrenciNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sifre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ogretimYili" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="donem" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OgrenciBilgiGetirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ObisisMobileWCF" minOccurs="0" name="OgrenciBilgiGetirResult" nillable="true" type="q1:OgrenciResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OgrenciDonemGetir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ogrenciNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OgrenciDonemGetirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ObisisMobileWCF" minOccurs="0" name="OgrenciDonemGetirResult" nillable="true" type="q2:OgrenciResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ObisisMobileWCF" minOccurs="0" name="composite" nillable="true" type="q3:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ObisisMobileWCF" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q4:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>