ConsumerSupport/App/AppSupport/Service References/SupportService/ConsumerSupportService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ConsumerSupportService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://apis.ogzkyr.net/ConsumerSupportService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://apis.ogzkyr.net/ConsumerSupportService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://apis.ogzkyr.net/ConsumerSupportService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ObisisService.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IConsumerSupportService_CreateSupport_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateSupport" />
  </wsdl:message>
  <wsdl:message name="IConsumerSupportService_CreateSupport_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateSupportResponse" />
  </wsdl:message>
  <wsdl:message name="IConsumerSupportService_ListSupports_InputMessage">
    <wsdl:part name="parameters" element="tns:ListSupports" />
  </wsdl:message>
  <wsdl:message name="IConsumerSupportService_ListSupports_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListSupportsResponse" />
  </wsdl:message>
  <wsdl:message name="IConsumerSupportService_ViewSupport_InputMessage">
    <wsdl:part name="parameters" element="tns:ViewSupport" />
  </wsdl:message>
  <wsdl:message name="IConsumerSupportService_ViewSupport_OutputMessage">
    <wsdl:part name="parameters" element="tns:ViewSupportResponse" />
  </wsdl:message>
  <wsdl:message name="IConsumerSupportService_UpdateFlagSupport_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFlagSupport" />
  </wsdl:message>
  <wsdl:message name="IConsumerSupportService_UpdateFlagSupport_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFlagSupportResponse" />
  </wsdl:message>
  <wsdl:message name="IConsumerSupportService_ReplySupport_InputMessage">
    <wsdl:part name="parameters" element="tns:ReplySupport" />
  </wsdl:message>
  <wsdl:message name="IConsumerSupportService_ReplySupport_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReplySupportResponse" />
  </wsdl:message>
  <wsdl:message name="IConsumerSupportService_DeleteSupport_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSupport" />
  </wsdl:message>
  <wsdl:message name="IConsumerSupportService_DeleteSupport_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSupportResponse" />
  </wsdl:message>
  <wsdl:portType name="IConsumerSupportService">
    <wsdl:operation name="CreateSupport">
      <wsdl:input wsaw:Action="http://tempuri.org/IConsumerSupportService/CreateSupport" message="tns:IConsumerSupportService_CreateSupport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConsumerSupportService/CreateSupportResponse" message="tns:IConsumerSupportService_CreateSupport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListSupports">
      <wsdl:input wsaw:Action="http://tempuri.org/IConsumerSupportService/ListSupports" message="tns:IConsumerSupportService_ListSupports_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConsumerSupportService/ListSupportsResponse" message="tns:IConsumerSupportService_ListSupports_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ViewSupport">
      <wsdl:input wsaw:Action="http://tempuri.org/IConsumerSupportService/ViewSupport" message="tns:IConsumerSupportService_ViewSupport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConsumerSupportService/ViewSupportResponse" message="tns:IConsumerSupportService_ViewSupport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFlagSupport">
      <wsdl:input wsaw:Action="http://tempuri.org/IConsumerSupportService/UpdateFlagSupport" message="tns:IConsumerSupportService_UpdateFlagSupport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConsumerSupportService/UpdateFlagSupportResponse" message="tns:IConsumerSupportService_UpdateFlagSupport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReplySupport">
      <wsdl:input wsaw:Action="http://tempuri.org/IConsumerSupportService/ReplySupport" message="tns:IConsumerSupportService_ReplySupport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConsumerSupportService/ReplySupportResponse" message="tns:IConsumerSupportService_ReplySupport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSupport">
      <wsdl:input wsaw:Action="http://tempuri.org/IConsumerSupportService/DeleteSupport" message="tns:IConsumerSupportService_DeleteSupport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConsumerSupportService/DeleteSupportResponse" message="tns:IConsumerSupportService_DeleteSupport_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IConsumerSupportService" type="tns:IConsumerSupportService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateSupport">
      <soap:operation soapAction="http://tempuri.org/IConsumerSupportService/CreateSupport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListSupports">
      <soap:operation soapAction="http://tempuri.org/IConsumerSupportService/ListSupports" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewSupport">
      <soap:operation soapAction="http://tempuri.org/IConsumerSupportService/ViewSupport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFlagSupport">
      <soap:operation soapAction="http://tempuri.org/IConsumerSupportService/UpdateFlagSupport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReplySupport">
      <soap:operation soapAction="http://tempuri.org/IConsumerSupportService/ReplySupport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSupport">
      <soap:operation soapAction="http://tempuri.org/IConsumerSupportService/DeleteSupport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConsumerSupportService">
    <wsdl:port name="BasicHttpBinding_IConsumerSupportService" binding="tns:BasicHttpBinding_IConsumerSupportService">
      <soap:address location="http://apis.ogzkyr.net/ConsumerSupportService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>