ConsumerSupport/App/AppSupport/Service References/SupportService/ConsumerSupportService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://apis.ogzkyr.net/ConsumerSupportService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ObisisService.Data" />
  <xs:element name="CreateSupport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ObisisService.Data" minOccurs="0" name="support" nillable="true" type="q1:Support" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSupportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateSupportResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListSupports">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ObisisService.Data" minOccurs="0" name="admin" nillable="true" type="q2:Admin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListSupportsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ObisisService.Data" minOccurs="0" name="ListSupportsResult" nillable="true" type="q3:SupportList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewSupport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ObisisService.Data" minOccurs="0" name="admin" nillable="true" type="q4:Admin" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewSupportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ObisisService.Data" minOccurs="0" name="ViewSupportResult" nillable="true" type="q5:Support" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFlagSupport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ObisisService.Data" minOccurs="0" name="admin" nillable="true" type="q6:Admin" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="state" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFlagSupportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateFlagSupportResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReplySupport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ObisisService.Data" minOccurs="0" name="admin" nillable="true" type="q7:Admin" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ObisisService.Data" minOccurs="0" name="consumer" nillable="true" type="q8:Consumer" />
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReplySupportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReplySupportResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSupport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ObisisService.Data" minOccurs="0" name="admin" nillable="true" type="q9:Admin" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSupportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSupportResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>