ObisisService/1.2.0.0/ObisisService/ObisisService/Service References/ErciyesWebService/EruWebServis4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://mobil.erciyes.edu.tr/EruServiceWeb/EruWebServis.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OBISISMOBILLogic" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="kategorileriGetir">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="kategorileriGetirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OBISISMOBILLogic" minOccurs="0" name="kategorileriGetirResult" nillable="true" type="q1:ResponseObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="kategoriIDyeGoreGetir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kategoriID" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="kategoriIDyeGoreGetirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/OBISISMOBILLogic" minOccurs="0" name="kategoriIDyeGoreGetirResult" nillable="true" type="q2:ResponseObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="enleriGetir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="enID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="enleriGetirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/OBISISMOBILLogic" minOccurs="0" name="enleriGetirResult" nillable="true" type="q3:ResponseObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="aramaGetir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="videoAdi" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="aramaGetirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/OBISISMOBILLogic" minOccurs="0" name="aramaGetirResult" nillable="true" type="q4:ResponseObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BildirimIstek">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BildirimIstekResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/OBISISMOBILLogic" minOccurs="0" name="BildirimIstekResult" nillable="true" type="q5:ResponseObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PageDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PageId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PageDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/OBISISMOBILLogic" minOccurs="0" name="PageDetailResult" nillable="true" type="q6:ResponseObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalenderAndDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tarih" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalenderAndDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/OBISISMOBILLogic" minOccurs="0" name="CalenderAndDetailResult" nillable="true" type="q7:ResponseObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalenderDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tarih" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalenderDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/OBISISMOBILLogic" minOccurs="0" name="CalenderDetailResult" nillable="true" type="q8:ResponseObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Calender">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Year" type="xs:int" />
        <xs:element minOccurs="0" name="Month" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalenderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/OBISISMOBILLogic" minOccurs="0" name="CalenderResult" nillable="true" type="q9:ResponseObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/OBISISMOBILLogic" minOccurs="0" name="GetEventDetailResult" nillable="true" type="q10:ResponseObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="YemekList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="YemekListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/OBISISMOBILLogic" minOccurs="0" name="YemekListResult" nillable="true" type="q11:ResponseObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="personelYemekList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="personelYemekListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/OBISISMOBILLogic" minOccurs="0" name="personelYemekListResult" nillable="true" type="q12:ResponseObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DuyurularList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
        <xs:element minOccurs="0" name="SqlId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DuyurularListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/OBISISMOBILLogic" minOccurs="0" name="DuyurularListResult" nillable="true" type="q13:ResponseObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pinleriGetir">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="pinleriGetirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/OBISISMOBILLogic" minOccurs="0" name="pinleriGetirResult" nillable="true" type="q14:ResponseObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>