Mobisis/WindowsPhone/1.2.0.0/Mobisis/Mobisis/Service References/ObisisServiceReference/ObisisMobileService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ObisisMobileService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://apis.ogzkyr.net/ObisisMobileService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://apis.ogzkyr.net/ObisisMobileService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://apis.ogzkyr.net/ObisisMobileService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ObisisService.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IObisisMobileService_GetStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudent" />
  </wsdl:message>
  <wsdl:message name="IObisisMobileService_GetStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IObisisMobileService_GetCurrentPeriod_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentPeriod" />
  </wsdl:message>
  <wsdl:message name="IObisisMobileService_GetCurrentPeriod_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentPeriodResponse" />
  </wsdl:message>
  <wsdl:message name="IObisisMobileService_GetActivities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActivities" />
  </wsdl:message>
  <wsdl:message name="IObisisMobileService_GetActivities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActivitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IObisisMobileService_GetFoodLists_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFoodLists" />
  </wsdl:message>
  <wsdl:message name="IObisisMobileService_GetFoodLists_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFoodListsResponse" />
  </wsdl:message>
  <wsdl:portType name="IObisisMobileService">
    <wsdl:operation name="GetStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IObisisMobileService/GetStudent" message="tns:IObisisMobileService_GetStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IObisisMobileService/GetStudentResponse" message="tns:IObisisMobileService_GetStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentPeriod">
      <wsdl:input wsaw:Action="http://tempuri.org/IObisisMobileService/GetCurrentPeriod" message="tns:IObisisMobileService_GetCurrentPeriod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IObisisMobileService/GetCurrentPeriodResponse" message="tns:IObisisMobileService_GetCurrentPeriod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetActivities">
      <wsdl:input wsaw:Action="http://tempuri.org/IObisisMobileService/GetActivities" message="tns:IObisisMobileService_GetActivities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IObisisMobileService/GetActivitiesResponse" message="tns:IObisisMobileService_GetActivities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFoodLists">
      <wsdl:input wsaw:Action="http://tempuri.org/IObisisMobileService/GetFoodLists" message="tns:IObisisMobileService_GetFoodLists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IObisisMobileService/GetFoodListsResponse" message="tns:IObisisMobileService_GetFoodLists_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IObisisMobileService" type="tns:IObisisMobileService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStudent">
      <soap:operation soapAction="http://tempuri.org/IObisisMobileService/GetStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentPeriod">
      <soap:operation soapAction="http://tempuri.org/IObisisMobileService/GetCurrentPeriod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActivities">
      <soap:operation soapAction="http://tempuri.org/IObisisMobileService/GetActivities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFoodLists">
      <soap:operation soapAction="http://tempuri.org/IObisisMobileService/GetFoodLists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ObisisMobileService">
    <wsdl:port name="BasicHttpBinding_IObisisMobileService" binding="tns:BasicHttpBinding_IObisisMobileService">
      <soap:address location="http://apis.ogzkyr.net/ObisisMobileService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>