ObisisService/1.1.0.0/ObisisService/ObisisService/Service References/ErciyesMobileService/EruWebServis2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OBISISMOBILLogic.wowza" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OBISISMOBILLogic.wowza" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVideoKategoriModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VideoKategoriModel" nillable="true" type="tns:VideoKategoriModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVideoKategoriModel" nillable="true" type="tns:ArrayOfVideoKategoriModel" />
  <xs:complexType name="VideoKategoriModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="vk_aciklama" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vk_no" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VideoKategoriModel" nillable="true" type="tns:VideoKategoriModel" />
  <xs:complexType name="ArrayOfVideoModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VideoModel" nillable="true" type="tns:VideoModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVideoModel" nillable="true" type="tns:ArrayOfVideoModel" />
  <xs:complexType name="VideoModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="tumbnailAdresi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="videoAdi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="videoAdresi" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VideoModel" nillable="true" type="tns:VideoModel" />
</xs:schema>