Biletonly/1-KodlaKazan/TicketApp/TicketApp/Service References/BiletAllService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="XmlIslet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlIslem">
              <s:complexType>
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="xmlYetki">
              <s:complexType>
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XmlIsletResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XmlIsletResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StrIslet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strislem" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stryetki" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StrIsletResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StrIsletResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="XmlIsletSoapIn">
    <wsdl:part name="parameters" element="tns:XmlIslet" />
  </wsdl:message>
  <wsdl:message name="XmlIsletSoapOut">
    <wsdl:part name="parameters" element="tns:XmlIsletResponse" />
  </wsdl:message>
  <wsdl:message name="StrIsletSoapIn">
    <wsdl:part name="parameters" element="tns:StrIslet" />
  </wsdl:message>
  <wsdl:message name="StrIsletSoapOut">
    <wsdl:part name="parameters" element="tns:StrIsletResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="XmlIslet">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">İşlenecek fonksiyon xmlnode olarak gönderilir</wsdl:documentation>
      <wsdl:input message="tns:XmlIsletSoapIn" />
      <wsdl:output message="tns:XmlIsletSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StrIslet">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">İşlenecek fonksiyon string olarak gönderilir</wsdl:documentation>
      <wsdl:input message="tns:StrIsletSoapIn" />
      <wsdl:output message="tns:StrIsletSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="XmlIslet">
      <soap:operation soapAction="http://tempuri.org/XmlIslet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StrIslet">
      <soap:operation soapAction="http://tempuri.org/StrIslet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="XmlIslet">
      <soap12:operation soapAction="http://tempuri.org/XmlIslet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StrIslet">
      <soap12:operation soapAction="http://tempuri.org/StrIslet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://88.247.60.172/KodlaKazan/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://88.247.60.172/KodlaKazan/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>