Mobisis/WindowsPhone/1.0.0.0/Mobisis/Mobisis/Service References/ServiceReference/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://mobisis.ogzkyr.net/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ObisisService" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OgrenciNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Sifre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Ref" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ObisisService" minOccurs="0" name="LoginResult" nillable="true" type="q1:Baglanti" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFood">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ref" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFoodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ObisisService" minOccurs="0" name="GetFoodResult" nillable="true" type="q2:ArrayOfYemekList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CurrentPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OgrenciNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Sifre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Ref" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CurrentPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ObisisService" minOccurs="0" name="CurrentPeriodResult" nillable="true" type="q3:Donem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>